<header>
    <div class="container header-container">
        <div class="logo">
            <i class="fas fa-building" style="font-size: 2rem; color: var(--secondary);"></i>
            <div class="title">
                <h1>EduNexus</h1>
                <h3 class="tagline">Connecting Campus Smarter</h3>
            </div>
      
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#facilities">Facilities</a></li>
              <li><a href="/contact">Contact</a></li>
          </ul>
      </nav>
      
      <div class="auth-buttons">
        <div class="nav-links">
            <a href="/auth/login" class="btn-custom">Login</a>
            <a href="/auth/signup" class="btn-custom">Register</a>
          </div>
      </div>
  </div>
</header>