<nav class="navbar" id="navbar">
    <div class="nav-container">
      <a href="#" class="logo" onclick="showPage('facilities')">Campus Book</a>
      <ul class="nav-menu">
        <li><a href="#" class="nav-link" onclick="showPage('facilities')" id="nav-facilities">Facilities</a></li>
        <li><a href="#" class="nav-link" onclick="showPage('bookings')" id="nav-bookings">My Bookings</a></li>
        <li id="admin-nav" class="hidden"><a href="#" class="nav-link" onclick="showPage('admin')" id="nav-admin">Admin</a></li>
        <li><span id="user-name" style="color: #C8B6FF; font-weight: 600;"></span></li>
        <li><a href="#" class="nav-cta" onclick="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
  